@{
    ViewBag.Title = "Confirmation de l'e-mail";
}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>@ViewBag.Title.</h2>
                        <div>
                            <p>
                                Merci d'avoir confirmé votre e-mail. Veuillez @Html.ActionLink("Cliquer ici pour vous connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
