@{
    ViewBag.Title = "Confirmation du mot de passe oublié";
}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Vérifiez votre adresse de messagerie pour réinitialiser votre mot de passe.
                </p>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
